.App {
	text-align: left;
	font-size: 1.5em;
	width: 100%;
}

.employee-table {
	background-color: lightcyan;
	margin: 0 auto;
}

.add-employee {
	display: flex;
	flex-direction: column;
	max-width: 25%;
	background-color: lightcyan;
	margin: 0 auto;
	justify-content: center;
	padding: 8px;
}

.add-employee input {
	padding: 8px;
}

.employee-table th, td {
	padding: 8px;
}

.button-area {
	display: flex;
	max-width: 100%;
	justify-content: center;
}

.show-admin-toggle {
	float: right;
}

button {
	margin: 0;
	border: 1px solid #64a60a;
	background-color: white;
	color: #64a60a;
	filter: drop-shadow(0 2px 4px rgb(0,0,0,0.2));
	border-radius: 4px;
	font: 700 14px/24px "Open Sans", sans-serif;
	cursor: pointer;
	vertical-align: top;
	text-align: center;
	padding-left: 12px;
}
