.App {
	text-align: left;
	font-size: 1.5em;
	width: 100%;
}

.user-table {
	background-color: lightcyan;
	margin: 0 auto;
}

.add-user {
	display: flex;
	flex-direction: column;
	max-width: 25%;
	background-color: lightcyan;
	margin: 0 auto;
	justify-content: center;
	padding: 8px;
}

.add-user input {
	padding: 8px;
}

.user-table th, td {
	padding: 8px;
}

.button-area {
	display: flex;
	max-width: 100%;
	justify-content: center;
}

button {
	height: 48px;
	margin: 0;
	padding: 0 16px;
	border: 0;
	background-color: #64a60a;
	color: #FFF;
	box-shadow: inset 0 -4px 0 rgba(0, 0, 0, 0.2);
	filter: drop-shadow(0 2px 4px rgb(0,0,0,0.2));
	border-radius: 4px;
	font: 700 14px/24px "Open Sans", sans-serif;
	cursor: pointer;
	vertical-align: top;
}
