.App {
	text-align: left;
	font-size: 1.5em;
	width: 100%;
}

.user-table {
	background-color: lightcyan;
	margin: 0 auto;
}

.add-user {
	display: flex;
	flex-direction: column;
	max-width: 25%;
	background-color: lightcyan;
	margin: 0 auto;
	justify-content: center;
	padding: 8px;
}

.add-user input {
	padding: 8px;
}

.user-table th, td {
	padding: 8px;
}

.button-area {
	display: flex;
	max-width: 100%;
	justify-content: center;
}

button {
	height: 2em;
	width: 120px;
	text-align: center;
}
